/* --------------------------------------------- */
/* Footer */
/* --------------------------------------------- */

.main-section {
    background-color: #f8f9fa;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.social-icon {
    display: inline-block;
    width: 43em;
    height: 45rem;
    margin: 0 10px;
    background-color: #c1bfc0;
    border-radius: 50%;
    color: #fff;
    line-height: 45px;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icon:hover {
    background-color: #000;
    transform: scale(1.1);
}

.back-to-top {
    margin-top: 20px;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    color: #000;
    line-height: 33px;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.back-to-top:hover {
    background-color: #000;
    color: #fff;
}
