.exp-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.exp-group {
  background-color: #1a1c20c9;
  border-radius: 20px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  color: #ebebeb;
  box-shadow: 0 0 12px #1a1c20e6;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.exp-group:hover {
  background-color: #1a1c20b8;
  box-shadow: 0 0 10px #00ffff3e;
}

.exp-group h3 {
  text-align: center;
  color: #ebebeb;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  text-decoration: underline;
  text-decoration-color: #00ffff4a;
}

.exp-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem 1rem;
}


/* NEW: Updated exp-item layout */
.exp-item {
  left: 1.15em;
  display: flex;
  align-items: flex-start;
  font-size: 1.3rem;
  padding-left: 2rem;
  position: relative;
  flex-direction: row;
  gap: 0.5rem;
}

.exp-item i {
  position: absolute;
  left: 0;
  top: rem;
  color: #00ffffd0;
  font-size: 1.3rem;
}

.exp-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exp-item-text strong {
  color: #ebebeb;
  margin-top: 0rem;
}

.exp-item-text span {
  font-size: 0.8rem;
  color: #00ffffd0;
  margin-top: -1.25rem;
}

@media screen and (max-width: 1280px) {

  .exp-section {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 5rem;
  }
  
  .exp-group {
    background-color: #1a1c20c9;
    border-radius: 20px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    color: #ebebeb;
    box-shadow: 0 0 12px #1a1c20e6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .exp-group:hover {
    background-color: #1a1c20b8;
    box-shadow: 0 0 10px #00ffff3e;
  }
  
  .exp-group h3 {
    text-align: center;
    color: #ebebeb;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    text-decoration: underline;
    text-decoration-color: #00ffff4a;
  }
  
  .exp-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem 1rem;
  }
  
  
  /* NEW: Updated exp-item layout */
  .exp-item {
    left: 1.15em;
    display: flex;
    align-items: flex-start;
    font-size: 1.3rem;
    padding-left: 2rem;
    position: relative;
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .exp-item i {
    position: absolute;
    left: 0;
    top: rem;
    color: #00ffffd0;
    font-size: 1.3rem;
  }
  
  .exp-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .exp-item-text strong {
    color: #ebebeb;
    margin-top: 0rem;
  }
  
  .exp-item-text span {
    font-size: 0.8rem;
    color: #00ffffd0;
    margin-top: -1.25rem;
  }

}

@media screen and (max-width: 980px) {

  .exp-section {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 5rem;
  }
  
  .exp-group {
    background-color: #1a1c20c9;
    border-radius: 20px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    color: #ebebeb;
    box-shadow: 0 0 12px #1a1c20e6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .exp-group:hover {
    background-color: #1a1c20b8;
    box-shadow: 0 0 10px #00ffff3e;
  }
  
  .exp-group h3 {
    text-align: center;
    color: #ebebeb;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    text-decoration: underline;
    text-decoration-color: #00ffff4a;
  }
  
  .exp-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem 1rem;
  }
  
  
  /* NEW: Updated exp-item layout */
  .exp-item {
    left: 1.15em;
    display: flex;
    align-items: flex-start;
    font-size: 1.3rem;
    padding-left: 2rem;
    position: relative;
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .exp-item i {
    position: absolute;
    left: 0;
    top: rem;
    color: #00ffffd0;
    font-size: 1.3rem;
  }
  
  .exp-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .exp-item-text strong {
    color: #ebebeb;
    margin-top: 0rem;
  }
  
  .exp-item-text span {
    font-size: 0.8rem;
    color: #00ffffd0;
    margin-top: -1.25rem;
  }

}

@media screen and (max-width: 736px) {

  .exp-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
  }
  
  .exp-group {
    background-color: #1a1c20c9;
    justify-content: left;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    color: #ebebeb;
    box-shadow: 0 0 12px #1a1c20e6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .exp-group h3 {
    margin-bottom: 2rem;
    font-size: 1.34rem;
  }
  
  .exp-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem 2rem;
  }
  
  .exp-item {
    left: .5em;
    font-size: 1rem;
    padding-left: 1.8rem;
    gap: 0.5rem;
  }
  
  .exp-item i {
    position: absolute;
    color: #00ffffd0;
    font-size: 1.1rem;
  }
  
  .exp-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .exp-item-text strong {
    color: #ebebeb;
    margin-top: 0rem;
  }
  
  .exp-item-text span {
    font-size: 0.8rem;
    color: #00ffffd0;
    margin-top: -0.5rem;
  }

}

@media screen and (max-width: 360px) {

  .exp-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .exp-group {
    background-color: #1a1c20c9;
    border-radius: 20px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    color: #ebebeb;
    box-shadow: 0 0 12px #1a1c20e6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .exp-group:hover {
    background-color: #1a1c20b8;
    box-shadow: 0 0 10px #00ffff3e;
  }
  
  .exp-group h3 {
    text-align: center;
    color: #ebebeb;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    text-decoration: underline;
    text-decoration-color: #00ffff4a;
  }
  
  .exp-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem 1rem;
  }
  .exp-item {
    left: 1.15em;
    display: flex;
    align-items: flex-start;
    font-size: 1.3rem;
    padding-left: 2rem;
    position: relative;
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .exp-item i {
    position: absolute;
    left: 0;
    top: rem;
    color: #00ffffd0;
    font-size: 1.3rem;
  }
  
  .exp-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .exp-item-text strong {
    color: #ebebeb;
    margin-top: 0rem;
  }
  
  .exp-item-text span {
    font-size: 0.8rem;
    color: #00ffffd0;
    margin-top: -1.25rem;
  }

}
