@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* ===================================== */
/*             COLOR SYSTEM              */
/* ===================================== */

:root {
  /* --------- Base Backgrounds --------- */
  --bg-body: #1a1c20;
  --bg-main: #1a1c20;

  /* --------- Base Text Colors --------- */
  --text-base: #FBFFFF;       /* paragraph / default text */
  --text-heading: #f3f3f3;
  --text-footer: #f3f3f3ea;

  /* --------- Accent / Brand Colors --------- */
  --accent: #00ffff;

  /* --------- Navigation Icons --------- */
  --nav-icon-color: #f3f3f3;
  --nav-label-shadow: -1px 1px 10px var(--accent);

  /* --------- Headings / Title Shadows --------- */
  --heading-shadow: 0px 0px 5px #f3f3f35f;
  --heading-accent-strong: 0 0 40px var(--accent);

  /* --------- Glow / Emphasis Shadows --------- */
  --nav-hover-shadow: 0px 0px 10px var(--accent);
  --nav-active-shadow: 0px 0px 30px var(--accent);
  --footer-link-shadow: 0px 1px 10px var(--accent);
  --footer-link-hover-shadow: 0px 1px 20px var(--accent);

  /* --------- Main Container Borders --------- */
  --main-border-color: var(--text-base);
  --main-border: 1px solid var(--main-border-color);
  --main-shadow: 0px 0px 10px -5px var(--text-base);
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  -webkit-text-size-adjust: none;
  line-height: 1;
  height: 100%;
}

/* Basic */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Background image */
body {
  background-color: var(--bg-body);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body, input, textarea, select {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  /* <p> text color */
  color: var(--text-base);
  font-size: 20pt;
  line-height: 1.75em;
}

@media screen and (max-width: 1680px) {
  body, select {
    font-size: 15pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input, textarea, select {
    font-size: 14pt;
  }
}

@media screen and (max-width: 768px) {
  body, input, textarea, select {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body, input, textarea, select {
    font-size: 11pt;
  }
}

strong, b, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: var(--text-heading);
  text-shadow: var(--heading-shadow);
}

h1 {
  font-size: 2.4em;
  letter-spacing: -0.015em;
  color: var(--accent);
  text-shadow: var(--heading-accent-strong);
}

h2 {
  font-size: 1.8em;
  letter-spacing: -0.015em;
  color: var(--accent);
  text-shadow: var(--heading-accent-strong);
}

h3 {
  font-size: 1.2em;
  letter-spacing: -0.015em;
  color: var(--text-base);
}

h4, h5, h6 {
  font-size: 1.25em;
  letter-spacing: -0.015em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.375em;
  }

  h3, h4, h5, h6 {
    font-size: 1em;
  }
}

/* Nav */
#nav {
  text-align: center;
  height: 3em;
  cursor: default;
  /* background-color: #0000005d; */
  line-height: 0em;
  /* Make icon location higher/lower */
  padding-top: 0em;
  /* Adjust vertical centering */
  padding-bottom: 0em;
}

#nav a {
  color: var(--nav-icon-color);
  box-shadow: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin: 0 1.5rem;
  font-size: 1.8rem;
  line-height: 1em;
  /* Make line-height tighter */
  padding-top: 4m;
  /* Adjust vertical centering of icon in circle*/
  border-radius: 9999px;
  /* background shape behind icon */
  background-color: transparent;
  transition: all .25s ease-in-out;
}

#nav a span {
  text-shadow: var(--nav-label-shadow);
  color: var(--accent);
  display: block;
  position: fixed;
  font-weight: 300;
  top: -1.8em;
  font-size: 1em;
  border-radius: 999px;
  opacity: 0;
}

#nav a:hover {
  transform: scale(1);
  text-shadow: var(--nav-hover-shadow);
}

#nav a:hover span {
  opacity: 1.0;
  transform: scale(1.2);
}

#nav a.active {
  transform: scale(1.15);
  text-shadow: var(--nav-active-shadow);
  color: var(--accent);
  -moz-transition: box-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  -webkit-transition: box-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  -ms-transition: box-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  transition: all .25s ease-in-out;
}

#nav a.active:after {
  border-bottom-width: 0.5em;
}

@media screen and (max-width: 1680px) {
  #nav {
    height: 3.8em;
  }

  #nav a {
    height: 44px;
    /* slightly smaller for better fit */
    padding-top: 0.2em;
    /* tighter vertical alignment */
  }

  #nav a span {
    /* display: none; */
    font-size: large;
  }
  /* #nav a.active { opacity: 1; } */
}

@media screen and (max-width: 1280px) {
  #nav {
    height: 3.8em;
  }

  #nav a {
    height: 44px;
    /* slightly smaller for better fit */
    padding-top: 0.4m;
    /* tighter vertical alignment */
  }

  #nav a span {
    /* display: none; */
    font-size: large;
  }

  #nav a.active {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  #nav {
    height: 3.8em;
  }

  #nav a {
    height: 44px;
    /* slightly smaller for better fit */
    padding-top: 0em;
    /* tighter vertical alignment */
    padding-right: 0em;
    margin: 0 0.2rem;
    font-size: 1.2rem;
  }

  #nav a span {
    /* display: none; */
    /* */
    padding-bottom: -4em;
    font-size: 1.2rem;
  }

  #nav a.active {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  #nav {
    /* padding-top: 1em; */
    padding-bottom: 3.5em;
  }

  #nav a {
    height: 44px;
    /* slightly smaller for better fit */
    padding-top: 0.2em;
    /* tighter vertical alignment */
  }

  #nav a span {
    display: none;
  }

  #nav a.active {
    opacity: 1;
  }
}

@media screen and (max-width: 360px) {
  #nav {
    /* padding-top: 1em; */
    padding-bottom: 3.5em;
  }

  #nav a {
    height: 44px;
    /* slightly smaller for better fit */
    padding-top: 0.2em;
    /* tighter vertical alignment */
  }

  #nav a span {
    display: none;
  }

  #nav a.active {
    opacity: 1;
  }
}

/* Wrapper */
#wrapper {
  width: 45em;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  padding: 4em 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

body.is-preload #wrapper {
  opacity: 0;
}

@media screen and (max-width: 1280px) {
  #wrapper {
    padding: 3em 0;
    max-width: calc(100% - 6em);
  }
}

@media screen and (max-width: 980px) {
  #wrapper {
    padding: 1.2em 0;
    max-width: calc(100% - 2em);
  }
}

@media screen and (max-width: 768px) {
  #wrapper {
    padding: 1em 0;
    max-width: calc(100% - 2em);
  }
}

@media screen and (max-width: 360px) {
  #wrapper {
    padding: 1em 0;
    max-width: 100%;
  }
}

/* Main */
#main {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  background-color: var(--bg-main);
  box-shadow: var(--main-shadow);
  border: var(--main-border);
  -moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  -webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  -ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

#main > .panel {
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  margin-bottom: 0;
  position: relative;
  padding: 3.5em 2.5em 2.5em 2.5em;
  width: 100%;
}

#main > .panel.inactive {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  #main > .panel {
    padding: 2em 1.5em 1.5em 1.5em;
  }
}

@media screen and (max-width: 500px) {
  #main > .panel {
    padding: 2em 1.5em 1.5em 1.5em;
  }
}

#main > .panel.intro {
  padding: 0;
  height: 20em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

#main > .panel.intro .pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: inherit;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

#main > .panel.intro .pic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("images/overlay.png");
  width: 100%;
  height: 100%;
  z-index: 1;
}

#main > .panel.intro .pic img,
#main > .panel.intro .pic video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.35);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

/* Responsive height adjustments for different screen widths */
@media screen and (max-width: 1200px) {
  #main > .panel.intro .pic {
    height: 22em;
  }
}

@media screen and (max-width: 980px) {
  #main > .panel.intro {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }

  #main > .panel.intro .pic {
    height: 22em;
  }
}

@media screen and (max-width: 768px) {
  #main > .panel.intro .pic {
    height: 20em;
  }
}

@media screen and (max-width: 480px) {
  #main > .panel.intro .pic {
    height: 16em;
  }
}

@media screen and (max-width: 375px) {
  #main > .panel.intro .pic {
    height: 12em;
  }
}

/* Footer */
#footer {
  color: var(--text-footer);
  text-align: center;
  align-items: center;
  /* padding-bottom: 1em; */
  padding-top: .5em;
  font-size: 1.75em;
  font-weight: lighter;
}

#footer a {
  color: var(--accent);
  text-shadow: var(--footer-link-shadow);
  transition: all .25s ease-in, all .5s ease-out;
}

#footer span {
  color: var(--text-footer);
}

#footer a:hover {
  /* color: #f2f2f2; */
  text-shadow: var(--footer-link-hover-shadow);
  transition: all .25s ease-in-out;
}

@media screen and (max-width: 768px) {
  #footer {
    padding-bottom: 2em;
    /* reduce from 2em */
    line-height: 1;
    /* Make icon location higher/lower */
    text-align: center;
    align-items: center;
  }

  #footer a {
    padding-top: 0em;
    /* tighter vertical alignment */
    padding-right: 0em;
    margin: 0 0rem;
    font-size: 0.6rem;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  #footer {
    padding-bottom: 2em;
    /* reduce from 2em */
    line-height: 1;
    /* Make icon location higher/lower */
    text-align: center;
    align-items: center;
  }

  #footer a {
    padding-top: 0em;
    /* tighter vertical alignment */
    padding-right: 0em;
    margin: 0 0rem;
    font-size: 0.5rem;
    text-align: center;
    align-items: center;
  }
}
